<html>
	<head>
		<title>{% block titletag %}New Project{% endblock %}</title>
		<link rel="stylesheet" href="/styles/app.min.css">
	</head>
	<body>
		{% block body %}{% endblock %}

		<script src="/scripts/all.min.js"></script>
	</body>
</html>
